@value secondaryFont from "../../common/typography.pcss";

.Wrapper {
  font-family: secondaryFont, sans-serif;
  color: var(--component-secondary-text);
  background: var(--component-secondary-bg);
  padding: 30px;
}