@value mainFont from "../../common/typography.pcss";

.Wrapper {
  font-family: mainFont, sans-serif;
  color: var(--component-primary-text);
  background: var(--component-primary-bg);
  padding: 30px;
}